<h1>Add a new post</h1>

<form action="/create_post">
  <div>
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="image_url">image_url:</label><br>
    <input type="text" id="image_url" name="image_url">
  </div>
  <div>
    <label for="contents">contents:</label><br>
    <textarea type="text" id="contents" name="contents"></textarea>
  </div>
  <div>
    <input type="submit">
  </div>
</form>
